.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    left: 4%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
  background-image: url('../assets/curso/portada/fondo-banner-principal-mobile.png') !important

@media (min-width: 426px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
    padding-right: 130px

@media (min-width: 768px)
  .banner-principal .tarjeta
    padding-right: 0
    overflow: hidden

  .banner-principal__info
    padding-right: 85px !important

@media (min-width: 1025px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal.png') !important

  .banner-principal__info
    padding-right: unset !important

@media (max-width: 440px)
  .banner-principal__descripcion
    margin-bottom: 30px
    padding-right: 45px
  .banner-principal__accion
    margin-top: 30px
    margin-bottom: 50px

.banner-principal__row .banner-principal__img
  width: 400px !important  

.banner-interno__titulo__icono i
  color: $color-primario

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner-interno.png') !important

figcaption
  font-weight: normal

.text-acento-contenido
  color: $color-acento-contenido

.bg-color-acento-ac5
  background-color: $color-acento-contenido-ac5

.bg-color-acento-ac20
  background-color: $color-acento-contenido-ac20

.bg-secundario-s5
  background-color: $color-secundario-s5

.bg-secundario-s70
  background-color: $color-secundario-s70

.checklist
  padding-left: 40px
  width: fit-content

  li
    position: relative
    padding: 10px 20px
    padding-left: 0
    border-bottom: 1px dotted #AFAFAF

    &:last-child
      border-bottom: none

    &::before
      content: url('../assets/curso/temas/check-icon.svg')
      position: absolute
      left: -20px

  &--location
    li
      border-bottom: none
      padding: 5px
      &::before
        content: url('../assets/curso/temas/location-icon.svg')

.fullwidth-bg
  position: relative
  z-index: 0

  &--1::after
    top: 0px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema3/bg-1.png')

    @media (max-width: 450px)
      display: none

.z-2
  z-index: 2
  position: relative

.factores-slider
  &__tarjeta
    border-radius: 14px
    height: 97% !important
  &__icon 
    max-width: 239px
  
  &__title-wrapper
    text-align: center

  &__title
    background-color: #FBEFBC
    padding: 10px 20px
    display: block

  &__number
    color: $color-secundario
    font-size: 30px
    
    &.color-acento-contenido
      color: $color-acento-contenido
      margin-bottom: 10px

  .slyder-f
    align-items: center

    .slyder-f__main
      width: 70%

      @media (min-width: 769px)
        width: 80%

  .slyder-f__btn
    height: 35px
    width: 35px
    max-width: 35px
    background-color: $color-acento-botones
    border-radius: 50%
    padding: 0 !important
    margin: 0 auto
    .fa-chevron-left
      font-size: 20px
    .fa-chevron-right
      font-size: 20px

.graph-title
  position: relative
  width: fit-content
  padding: 5px 30px
  padding-left: 50px
  background-color: $color-secundario
  color: #FFFFFF
  margin-left: 30px
  border-radius: 20px
  margin-top: 20px
  &::before
    content: url('../assets/curso/temas/truck.svg')
    position: absolute
    left: -40px
    top: 50%
    transform: translateY(-50%)
    max-width: 65px
    display: block

.time-line-info
  .tarjeta
    width: 300px
    position: relative

    p 
      margin-bottom: 0
      font-size: 14px
      @media (min-width: 1024px)
        font-size: 16px

  .img-infografica__item
    color: #ffffff
    width: 6%

    @media (min-width: 1024px)
      width: 4%


    &__numero
      font-size: 16px
      line-height: 21px

      @media (min-width: 1024px)
        font-size: 24px
        line-height: 25px


@media (min-width: 1025px)
  .time-line-info
    .tarjeta
      width: 450px
    position: relative

.slider-wrapper
  position: relative
  .bg-orange
    background-color: #FFEADD
    position: absolute
    top: -20px
    left: -60px
    bottom: -20px
    right: -60px
    width: calc( 100% + 168px  )
    height: calc( 100% + 40px  )

  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    opacity: 1

  .slyder-a__bullets__item
    background-color: #5F94D9
    border-color: #5F94D9
    opacity: 0.5
    &--active
      opacity: 1
      
.accesibilidad
  z-index: 10

.crd_hover_txt 
  position: relative
  padding: 0
  overflow: hidden
  border-radius: 1px

.crd_hover_txt .crd_hover_txt--body 
  position: absolute
  padding: 18px 13px 20px
  bottom: 0
  transition: all .3s ease-in-out
  transform: translateY(calc(100% - 55px))
  background-color: $color-acento-botones

.crd_hover_txt:hover .crd_hover_txt--body 
  transition: all .3s ease-in-out
  transform: translateY(0)
  background-color: #DFE9F7

@media (min-width: 1200px) and (max-width:1400px) 
  .crd_hover_txt .crd_hover_txt--body p 
      font-size: 14px
      line-height: 18px